[Unit]
Description=Restart WireGuard
After=network.target

[Service]
Type=oneshot
#ExecStartPost=/usr/local/bin/wg-all-sync.bash
ExecStart=/usr/bin/systemctl restart wg-quick@wg-all.service

[Install]
RequiredBy=wg-all-restart.path
