[Unit]
Description=Wireguard UI
After=network.target

[Service]
Type=simple

# Environment="SENDGRID_API_KEY=YOUR_API_KEY_HERE"
# Environment="EMAIL_FROM_ADDRESS=YOUR_EMAIL_HERE"
# Environment="EMAIL_FROM_NAME=YOUR_NAME_HERE"

ExecStart=/usr/local/bin/wireguard-ui -bind-address 127.0.0.1:5000
WorkingDirectory=/etc/wireguard/ui

Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wireguard-ui

[Install]
WantedBy=multi-user.target
